//
// Portfolio section styling
//

.portfolio {
  background-color: var(--back);
  color: var(--text);
  padding-top: 3rem;
  .logo {
    width: 100px;
    margin-bottom: 1rem;
  }

  .portfolio-caption {
    padding: 3rem 1.5rem 2rem;
    text-align: left;
  }
}
