// Project details
.container
    .text-center
        img.logo.rounded-circle(src='assets/img/logos/chatify.png', alt='chatify logo')
        h2.section-heading.text-uppercase Chatify
        h3.section-subheading Social E-commerce
        img.img-fluid.d-block.mx-auto(src='assets/img/portfolio/chatify.png', alt='chatify portfolio')
        p.portfolio-caption Chatify is a marketplace for local Japanese products. You can find authentic products selling by local family-run businesses, and negotiate with them directly.
        ul.list-inline
            li
                strong Link:
                a(href='https://chatify.hypermyper.com', target='blank') site
            li
                strong Category:
                | E-Commerce