.container
    .text-center
        h2.section-heading.text-uppercase Inify
        h3.section-subheading.text-muted Influencer Marketing platform.
        img.img-fluid.d-block.mx-auto(src='assets/img/portfolio/inify.png', alt='inify portfolio')
        p Inify is an influencer marketing platform to boost your campaigns in Instagram. Offering tools for brands and agencies to negotiate with potential influencers, using clever algorithm.
        ul.list-inline
            li
                strong Category:
                | Marketing