.container
    .text-center
        h2.section-heading.text-uppercase Mystery Box
        h3.section-subheading.text-muted Lucky Japanese Products.
        img.img-fluid.d-block.mx-auto(src='assets/img/portfolio/mysterybox.png', alt='mysterybox portfolio')
        p Mystery box is an online market place to order mystery boxes from Japan. You can personalise your mystery box according to your liking and surprise your loved ones as well as yourself.
        ul.list-inline
            li
                strong Category:
                | Graphic Design