.container
    .text-center
        img.logo.rounded-circle(src='assets/img/logos/resque.png', alt='resque logo')
        h2.section-heading.text-uppercase ResQue
        h3.section-subheading Queueing as a Service.
        img.img-fluid.d-block.mx-auto(src='assets/img/portfolio/resque.png', alt='resque portfolio')
        p.portfolio-caption ResQue app is a two-sided platform designed to find a "Queuer" to stand in the line of events on behalf of you. You can also become a "Queuer" and earn money by queuing.
        ul.list-inline
            li
                strong Category:
                | Services