#shootshotModal.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
    .modal-dialog
        .modal-content
            .close-modal(data-bs-dismiss='modal')
                img(src='assets/img/close-icon.svg', alt='Close modal')
            .container
                .row.justify-content-center
                    .col-lg-8
                        .modal-body
                            // Project details
                            h2.text-uppercase ShootShot
                            p.item-intro.text-muted Instant Simultaneous Messaging.
                            img.img-fluid.d-block.mx-auto(src='assets/img/portfolio/shootshot.png', alt='shootshot portfolio')
                            p Developed the first and the only  
                                a(href='https://patents.google.com/patent/US9923846B2', aria-label='USPTO') Instant Simultaneous Messaging
                                | platform. ShootShot is a mobile app designed to build a "Mutual Trust" by asking personal questions and self-disclosing mutually. Use this app to take your relationship and friendship to the next level with your family and friends. This app has been designed and developed based on a patented algorithm.
                            ul.list-inline
                                li
                                    strong Link:
                                    a(href='https://shootshot.hypermyper.com', target='blank') site
                                li
                                    strong Category:
                                    | Communication
                            button.btn.btn-primary.btn-xl.text-uppercase(data-bs-dismiss='modal', type='button')
                                i.fas.fa-xmark.me-1
                                | Close Project