doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='creator of holistic marketplaces as mobile applications')
        meta(name='author', content='Sakura Holding')
        meta(rel="apple-touch-startup-image", href="assets/img/logo.png")
        meta(rel="apple-touch-icon", href="assets/img/logo.png")
        meta(name="apple-mobile-web-app-capable", content="yes")
        meta(name="apple-mobile-web-app-status-bar-style", content="black-translucent")

        meta(property="og:image", href="assets/img/logo.png")
        meta(property="twitter:image", href="assets/img/logo.png")

        title Sakura Holding - marketplace expert

        // Favicon
        link(rel='icon', type='image/x-icon', href='assets/favicon.ico')

        // Font Awesome icons
        script(src='https://use.fontawesome.com/releases/v6.1.0/js/all.js', crossorigin='anonymous')

        // Google fonts
        link(href='https://fonts.googleapis.com/css?family=Montserrat:400,700', rel='stylesheet', type='text/css')
        link(href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700', rel='stylesheet', type='text/css')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')


    body#page-top

        // Navigation
        nav#mainNav.navbar.navbar-expand-lg.navbar-dark.fixed-top
            .container
                a.navbar-brand(href='#page-top')
                    img(src='assets/img/logo.png', alt='Sakura Holding logo')
                button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
                    | Menu
                    i.fas.fa-bars.ms-1
                #navbarResponsive.collapse.navbar-collapse
                    ul.navbar-nav.text-uppercase.ms-auto.py-4.py-lg-0
                        li.nav-item
                            a.nav-link(href='#services') Services
                        li.nav-item
                            a.nav-link(href='#chatify') Chatify
                        li.nav-item
                            a.nav-link(href='#about') About
                        li.nav-item
                            a.nav-link(href='#team') Team
                        li.nav-item
                            a.nav-link(href='#contact') Contact
        // Masthead
        header.masthead
            .container
                .masthead-heading.text-uppercase Sakura holding
                .masthead-subheading Expert in designing/developing mobile apps
                div.masthead-subheading
                    span that are
                    span#hfeatures.typer.text-uppercase(data-words="efficient.,scalable.,effective.,maintainable.,extendable.,reusable.,fast.,agile.", data-delay="100", data-colors="#000")
                    span.cursor(data-cursorDisplay="|", data-owner="hfeatures")
                a.btn.btn-primary.btn-xl.text-uppercase(href='#services') See More

        // Services
        section#services.page-section
            .container
                .text-center
                    h2.section-heading.text-uppercase Services
                    h3.section-subheading.text-muted Sakura Holding takes a comprehensive approach.
                .row.text-center
                    .col-md-4
                        span.fa-stack.fa-4x
                            i.fas.fa-circle.fa-stack-2x.text-primary
                            i.fas.fa-shopping-cart.fa-stack-1x.fa-inverse
                        h4.my-3 Social E-Commerce
                        p.text-muted
                            | Creates market place for sellers and buyers, with messaging as First-class citizen.
                    .col-md-4
                        span.fa-stack.fa-4x
                            i.fas.fa-circle.fa-stack-2x.text-primary
                            i.fas.fa-mobile.fa-stack-1x.fa-inverse
                        h4.my-3 Responsive design
                        p.text-muted
                            | Designs that are responsive for all mediums.
                    .col-md-4
                        span.fa-stack.fa-4x
                            i.fas.fa-circle.fa-stack-2x.text-primary
                            i.fas.fa-cloud.fa-stack-1x.fa-inverse
                        h4.my-3 Scalable solution
                        p.text-muted
                            | Deployed the solution in a horizontally scalable fashion using Docker and Kubernetes orchestration.
                    .col-md-4
                        span.fa-stack.fa-4x
                            i.fas.fa-circle.fa-stack-2x.text-primary
                            i.fas.fa-microscope.fa-stack-1x.fa-inverse
                        h4.my-3 Automated Tests
                        p.text-muted
                            | Writing 4 level of automated tests, Unit Testing, Integration Testing, System Testing and Acceptance Testing.
                    .col-md-4
                        span.fa-stack.fa-4x
                            i.fas.fa-circle.fa-stack-2x.text-primary
                            i.fas.fa-lock.fa-stack-1x.fa-inverse
                        h4.my-3 Security
                        p.text-muted
                            | Ensure security from all perspectives, including DNS, Authentication and Authorization.
                    .col-md-4
                        span.fa-stack.fa-4x
                            i.fas.fa-circle.fa-stack-2x.text-primary
                            i.fas.fa-pen.fa-stack-1x.fa-inverse
                        h4.my-3 Intellectual property
                        p.text-muted
                            | Securing ownerships by writing patents.

        // Portfolio Grid
        section#chatify.page-section.bg-light
            include includes/chatify
        section#shootshot.page-section
            include includes/shootshot
        section#inify.page-section.bg-light
            include includes/inify
        section#mysterybox.page-section
            include includes/mysterybox
        section#resque.page-section.bg-light
            include includes/resque

        // About
        section#about.page-section
            .container
                .text-center
                    h2.section-heading.text-uppercase About
                    h3.section-subheading.text-muted This is how we are disrupting while growing.
                ul.timeline
                    li
                        a.portfolio-link(data-bs-toggle='modal', href='#resqueModal')
                            .timeline-image
                                img.rounded-circle.img-fluid(src='assets/img/logos/resque.png', alt='resque logo')
                            .timeline-panel
                                .timeline-heading
                                    h4 ResQue
                                .timeline-body
                                    p.text-muted
                                        | Born as a platform maker
                                        | Developed a platform for queuing services
                    li.timeline-inverted
                        a.portfolio-link(data-bs-toggle='modal', href='#shootshotModal')
                            .timeline-image
                                img.rounded-circle.img-fluid(src='assets/img/logos/shootshot.png', alt='shootshot logo')
                            .timeline-panel
                                .timeline-heading
                                    h4 ShootShot
                                .timeline-body
                                    p.text-muted
                                        | Developed the first and the only Instant Simultaneous Messaging platform
                    li
                        a.portfolio-link(data-bs-toggle='modal', href='#inifyModal')
                            .timeline-image
                                img.rounded-circle.img-fluid(src='assets/img/logos/inify.png', alt='inify logo')
                            .timeline-panel
                                .timeline-heading
                                    h4 Inify
                                .timeline-body
                                    p.text-muted
                                        | Developed an Influencer Marketing platform
                    li.timeline-inverted
                        a.portfolio-link(data-bs-toggle='modal', href='#mysteryboxModal')
                            .timeline-image
                                img.rounded-circle.img-fluid(src='assets/img/logos/mysterybox.png', alt='mystery box logo')
                            .timeline-panel
                                .timeline-heading
                                    h4 Mystery Box
                                .timeline-body
                                    p.text-muted
                                        | Developed A marketplace for selling packages of random products of same type
                    li
                        a.portfolio-link(data-bs-toggle='modal', href='#chatifyModal')
                            .timeline-image
                                img.rounded-circle.img-fluid(src='assets/img/logos/chatify.png', alt='chatify logo')
                            .timeline-panel
                                .timeline-heading
                                    h4 Chatify
                                .timeline-body
                                    p.text-muted
                                        | Developed the first and the only Social ECommerce that fully operates by Instant Messaging as its core
                    li.timeline-inverted
                        .timeline-image
                            h4
                                | Be Part
                                br
                                | Of
                                br
                                | Future!

        // Team
        section#team.page-section.bg-light
            .container
                .text-center
                    h2.section-heading.text-uppercase Our Founders
                .row
                    .col-lg-6
                        .team-member
                            img.mx-auto.rounded-circle(src='assets/img/team/sadegh.jpg', alt='Sadegh Nobari profile photo')
                            h4 Sadegh Nobari
                            p.text-muted Tech Lead
                            a.btn.btn-dark.btn-social.mx-2(href='https://twitter.com/snobari', aria-label='Sadegh Nobari Twitter Profile')
                                i.fab.fa-twitter
                            a.btn.btn-dark.btn-social.mx-2(href='https://www.linkedin.com/in/nobari/', aria-label='Sadegh Nobari LinkedIn Profile')
                                i.fab.fa-linkedin-in
                    .col-lg-6
                        .team-member
                            img.mx-auto.rounded-circle(src='assets/img/team/mozhdeh.jpg', alt='Mozhdeh Barzi profile photo')
                            h4 Mozhdeh Barzi
                            p.text-muted Lead Designer
                            a.btn.btn-dark.btn-social.mx-2(href='https://twitter.com/mozhibarzi', aria-label='Mozhdeh Barzi Twitter Profile')
                                i.fab.fa-twitter
                            a.btn.btn-dark.btn-social.mx-2(href='https://www.linkedin.com/in/barzi/', aria-label='Mozhdeh Barzi LinkedIn Profile')
                                i.fab.fa-linkedin-in

        // Contact
        section#contact.page-section
            .container
                .text-center
                    h2.section-heading Targetting Globally
                    h3.section-subheading.text-muted Based in Japan


        // Footer
        footer.footer.py-4
            .container
                .row.align-items-center
                    .col-lg-4.text-lg-start
                        | Copyright &copy; Sakura Holding 2022
                    .col-lg-4.my-3.my-lg-0
                        | Email: info@[this domain]

        // Bootstrap core JS
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js')

        // Core theme JS
        script(src='https://unpkg.com/typer-dot-js@0.1.0/typer.js')

        script(src='js/scripts.js')